<html lang=en>
<head>
  <title>Mailapp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="public/css/style.css">
</head>
<body>    
    
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="table-responsive">
          <form method="POST" action="/send" enctype="multipart/form-data">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <input type="hidden"  name="password" value=<%=result[result.length-3] %>>
                  <input type="hidden" name="email" value=<%=result[result.length-4] %>>
                  <textarea style="display:none"rows="4" cols="50" name="sender"><%=result[result.length-2]%></textarea>
                  <td>Subject:<input type='text'id="sub" name="subject"></td>
                </tr>
                <tr>
                  <tr>
                    <td>Text:<input name="text" id="text"></td>
                  </tr>
                  <tr>
                  <td>
                  
                  <textarea rows="4" cols="50" name="message" id="message">Enter your message:</textarea></td>
                </tr>
                <tr><td><input type="file" class="form-control" id="image" placeholder="Choose Profile Picture" name="image"></td></tr>
              </tbody>
               

            </table>
          <button type="button" onclick="this.form.submit()">Send</button>
          

          </form>
          <form method="POST" action="/senddraft">
            <button style="display: none" id="click"></button>
            <input type="hidden"  name="password" value=<%=result[result.length-3] %>>
            <input type="hidden" name="email" value=<%=result[result.length-4] %>>
            <textarea style="display:none"rows="4" cols="50" name="fromsender" ><%=result[0].fromsender%></textarea>
            <input type="hidden" name="toreceiver" value=<%=result[0].toreceiver %>>
            <textarea style="display:none"rows="4" cols="50" name="sender" ><%=result[result.length-2]%></textarea>
            <input type="hidden" name="subject" id="sub1">
            <input type="hidden" name="text" id="text1">
            <textarea style="display:none" type="hidden" rows="4" cols="50" name="message" id="message1">Enter your message:</textarea>
          </form>

        </div>
      </div>
    </div>
   
      
        
    <div class="row rowStyle">
            <div class="col-lg-3" id="nav">
              <div class="nav-side-menu">
              <div class="brand">Mail App</div>
              <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
          
              <div class="menu-list">
          
                <ul id="menu-content" class="menu-content collapse out">
                  <li>
                    <a class="link" id="myBtn"><i class="fa fa-fw fa-envelope"></i> Compose</a>
                  </li>
                  <li>
                      <form method="POST" action="/sent">
                        <input type="hidden" name="password" value=<%=result[result.length-3] %>>
                        <input type="hidden" name="email" value=<%=result[result.length-4] %>>
                        <button id="button" type="submit" class="link" onclick="this.form.submit()"><i class="fa fa-fw fa-user"></i> Send</button>
                      </form>
                    </li>
                    <li>
                      <form method="POST" action="/draft">
                        <input type="hidden" name="password" value=<%=result[result.length-3] %>>
                        <input type="hidden" name="email" value=<%=result[result.length-4] %>>
                        <button  id="button" type="submit" class="link" onclick="this.form.submit()"><i class="fa fa-fw fa-user"></i>Draft</button>
                      </form>
                    </li>
                    <li>
                      <form method="POST" action="/outbox">
                        <input type="hidden" name="password" value=<%=result[result.length-3] %>>
                        <input type="hidden" name="email" value=<%=result[result.length-4] %>>
                        <button  id="button" type="submit" class="link" onclick="this.form.submit()"><i class="fa fa-fw fa-envelope"></i>All</button>
                      </form>
                    </li>
                </ul>
              </div>
            </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
              <div class="tab-content">
                  <% if (result[0].status=='sent'){ %>
                    
                    <div id="sent" class="container tab-pane active" value="sent">
                        <div class="bg "><br>MESSAGES</div>
                        <br>
                        <div class="flex">
                        <form method="POST" action="/outbox">
                          <input type="hidden" name="password" value=<%=result[result.length-3] %>>
                          <input type="hidden" name="email" value=<%=result[result.length-4] %>>
                          <button class="btn btn-info flex-child" type="submit" class="link" onclick="this.form.submit()">BACK</button>
                        </form>
                        <form method="POST" action="/delete">
                          <input type="hidden" name="password" value=<%=result[result.length-3] %>>
                          <input type="hidden" name="email" value=<%=result[result.length-4] %>>
                          <input type="hidden" name="status" value="<%=result[0].status%>" >
                          <textarea style="display:none" name="message" ><%=result[0].Messages%></textarea>
                          <input type="hidden" name="sender" value="<%=result[0].sendername%>" >
                          <button class="btn btn-info flex-child" type="submit" class="link" onclick="this.form.submit()">DELETE</button>
                        </form>
                      </div>
                        <br>
                        <table class="table-borderless">
                            <tr class="noborder">
                            <td class=""><i class="fa fa-fw fa-envelope"></i>&nbsp<span style="font-weight: bold"><%=result[0].sendername%>&nbsp<</span><%=result[0].emailsender%>></td>
                            </tr>
                            <tr><td><p></p></td></tr>
                          <tr><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTo:<%=result[0].toreceiver%></td></tr>
                        </table>
                        <br>
                        <br>
                        <h3 class="text-left">Contact Details</h3>
                        <ul>  
                          <li>Name: XYZ</li>
                          <li>Company:Pehchan</li>
                          <li>Email:pehchan@gmail.com</li>
                          <li>Phone:0222892939/li>
                        </ul>
                        <h3 class="text-left"> Message</h3>
                        <p><%=result[0].status%></p>
                        <pre><%=result[0].Messages%></pre>
                        <% if(result[0].image!='undefined'){ %>
                          <label>Attachments:</label>
                          <a href="./public/uploads/<%=result[0].image%>" download><%=result[0].imagename%></a>
                        <% } %>
                    </div>
                
                    <% } else if(result[0].status == 'draft'){ %>
                      <div id="sent" class="container tab-pane active" value="sent">
                          <div class="bg "><br>MESSAGES</div>
                          <br>
                          <div class="flex">
                          <form method="POST" action="/outbox">
                            <input type="hidden" name="password" value=<%=result[result.length-3] %>>
                            <input type="hidden" name="email" value=<%=result[result.length-4] %>>
                            <button class="btn btn-info flex-child" type="submit" onclick="this.form.submit()">BACK</button>
                          </form>
                          <form method="POST" action="/delete">
                            <input type="hidden" name="password" value=<%=result[result.length-3] %>>
                            <input type="hidden" name="email" value=<%=result[result.length-4] %>>
                            <input type="hidden" name="status" value="<%=result[0].status%>" >
                            <input type="hidden" name="sender" value="<%=result[0].sendername%>" >
                            <textarea style="display:none" name="message" ><%=result[0].Messages%></textarea>
                            <button class="btn btn-info flex-child" type="submit" onclick="this.form.submit()">DELETE</button>
                          </form>
                          <form method="POST" action="/edit">
                            <input type="hidden" name="password" value=<%=result[result.length-3] %>>
                            <input type="hidden" name="email" value=<%=result[result.length-4] %>>
                            <input type="hidden" name="status" value="<%=result[0].status%>" >
                            <input type="hidden" name="sender" value="<%=result[0].sendername%>" >
                            <textarea style="display:none" name="message" ><%=result[0].Messages%></textarea>
                            <button class="btn btn-info flex-child" type="submit" onclick="this.form.submit()">EDIT</button>
                          </form>
                        </div>
                          <br>
                          <table class="table-borderless">
                              <tr class="noborder">
                              <td class=""><i class="fa fa-fw fa-envelope"></i>&nbsp<span style="font-weight: bold"><%=result[0].sendername%>&nbsp<</span><%=result[0].emailsender%>></td>
                              </tr>
                              <tr><td><p></p></td></tr>
                            <tr><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTo:<%=result[0].emailsender%></td></tr>
                          </table>
                          <br>
                          <br>
                          <h3 class="text-left">Contact Details</h3>
                          <ul>  
                            <li>Name: XYZ</li>
                            <li>Company:Pehchan</li>
                            <li>Email:pehchan@gmail.com</li>
                            <li>Phone:0222892939</li>
                          </ul>
                          <h3 class="text-left"> Message</h3>
                          
                          <pre><%=result[0].Messages%></pre>
                          <!-- <a href="./" download>{{fileName}}</a> -->
                      </div>
                      
                      <% } %>
                </div>
            </div>
    
    <script>
      var modal = document.getElementById('myModal');
      
      
// Get the button that opens the modal
  var btn = document.getElementById("myBtn");
  var button = document.getElementById("myBtn1");
  

// Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
 

// When the user clicks the button, open the modal 
btn.onclick = function() {
  console.log("Clicked");
  modal.style.display = "block";
}


// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
    var p = document.getElementById("sub").value;
    document.getElementById("sub1").value=p;
    var q = document.getElementById("text").value;
    document.getElementById("text1").value=q;
    var r = document.getElementById("message").value;
    document.getElementById("message1").value=r;
    var s = document.getElementById("image").value;
    document.getElementById("image1").value=s;
    document.getElementById("click").click();
  }
  
  
}

    
    </script>
   
    
    </body>
</html>











