<% for(var i=0;i< result.length;i++) {  %>
<p>
    <p>from:<%= result[i].fromsender %></p>
    <p>to:<%= result[i].toreceiver %></p>
    <p>subject:<%= result[i].subject %></p>
    <p>text:<%= result[i].text %></p>
    <p>html:<%= result[i].date %></p>
</p>
<% } %>

<form method="POST" action="send">
    <input type="text" name="recipient">
    <input type="hidden" name="email" value=<%=result[0].emailsender %> >
    <button>Send</button>
</form>